@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  justify-content: center;
}

.HexViewer {
  font-family: 'Roboto Mono', monospace;
  margin: 64px 0;
  border: 1px solid #ccc;
}

.HexViewer__data {
  display: flex;
  padding: 16px;
  user-select: none;
}

.HexViewer__selectionInfo {
  border-top: 1px solid #ccc;
  padding: 16px;
  padding-bottom: 8px;
}

.HexViewer__selectionTableHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.HexViewer__selectionTableRow {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.HexViewer__selectionTableRow > div {
  flex: 1 1;
  padding: 0 4px;
}

.HexViewer__selectionTableHeader > div {
  flex: 1 1;
  padding: 0 4px;
}

.Dump {
  display: grid;
  margin: 0 12px;
}

.Ascii {
  display: grid;
}

.Ascii__cell {
  padding: 4px 0;
  transition: all 0.1s ease-in-out;
}

.Offset__line, .Dump__cell {
  padding: 4px;
  transition: all 0.1s ease-in-out;
}

.Dump__cell:hover, .Ascii__cell:hover {
  background-color: #FCE4EC;
}

.Dump__cell:active, .Ascii__cell:active {
  background-color: #F48FB1;
}

.Dump__cell--selected, .Ascii__cell--selected {
  background-color: #F8BBD0;
  cursor: default;
}
